h1,
h2
h3,
.widget-title,
.entry-title,
.page-title {
  text-transform: uppercase;
  color: $color__text-primary;
}
.entry-title {
  line-height: 1.2;
}

.site-title {
  font-family: 'Amarante', $font__main;
  font-weight: normal;
}

.meta-category {
  text-transform: none;
  font-weight: normal;
}